@font-face {
    font-family: "roboto-regular";
    font-weight: normal;
    src: url("assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
        url("assets/fonts/roboto-regular-webfont.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-1: #ffffff;
    --clr-2: #000000;
    --clr-3: #1a1b1d;
    --clr-4: #16a34a;
    --clr-4-hover: #15803d;
    --clr-5: #3f312b;
    --clr-6: #8b5a2b;
    --clr-7: #1877f2;
    --clr-7-hover: #145dbf;
    --clr-8: #f5f5f5;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.container {
    width: 100%;
    min-height: 100%;
    font-family: roboto-regular;
    display: grid;
    grid-template-rows: max-content auto max-content;
    background-image: url("assets/images/library.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.common-width {
    width: 80%;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding-block: 1rem;
    color: var(--clr-1);
    background-color: var(--clr-3);
}

.main {
    width: 100%;
    padding-block: 2rem;
}

.footer {
    width: 100%;
    padding-block: 1rem;
    color: var(--clr-1);
    background-color: var(--clr-3);
}

/* header */

.header-heading-text {
    text-align: center;
    font-size: 4rem;
}

/* footer */
.footer-qoute {
    text-align: center;
    font-size: 2rem;
    padding-block: 1rem;
}

/* main */

.main .common-width {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main #dialog-box-add-open-btn {
    width: max-content;
    font-size: 2rem;
    color: var(--clr-1);
    background-color: var(--clr-4);
    border: 2px solid var(--clr-4);
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.main #dialog-box-add-open-btn:hover {
    background-color: var(--clr-4-hover);
    border: 2px solid var(--clr-4-hover);
}

.main #dialog-box-add-open-btn:active {
    color: var(--clr-4);
    background-color: var(--clr-1);
    border: 2px solid var(--clr-4);
}

.main .bookshelf {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.main .bookshelf .shelf {
    width: 420px;
    flex-grow: 1;
    flex-shrink: 0;
}

.main .bookshelf .shelf .shelf-heading-text {
    color: var(--clr-1);
    background: linear-gradient(
        to right,
        var(--clr-5),
        var(--clr-6) 40%,
        var(--clr-5)
    );
    font-size: 2rem;
    text-align: center;
    padding-block: 0.5rem;
    border: 1px solid var(--clr-1);
    border-radius: 0.4rem;
}

.main .bookshelf .shelf .shelf-books-area {
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.7);
    padding-block: 2rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
}

.main .bookshelf .shelf .shelf-books-area::-webkit-scrollbar {
    width: 5px;
}

.main .bookshelf .shelf .shelf-books-area::-webkit-scrollbar-track {
    background-color: var(--clr-1);
}

.main .bookshelf .shelf .shelf-books-area::-webkit-scrollbar-thumb {
    background-color: red;
}

/* card */

.card {
    width: 380px;
    margin: 0 auto;
    background-color: var(--clr-8);
    border-radius: 4px;
}

.card-header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.card-header .card-heading-text {
    width: 100%;
    color: var(--clr-1);
    font-size: 2rem;
    font-weight: 500;
}

.card-header .card-remove-btn {
    height: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--clr-1);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.card-header .card-remove-btn:hover {
    color: rgb(255, 40, 40);
}

.card-header .card-remove-btn:active {
    color: var(--clr-1);
}

.card-book-details {
    padding: 1.5rem;
    display: grid;
    gap: 1.5rem;
}

.card-book-details .card-field .card-label {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
}

.card-book-details .card-field .card-book-info {
    font-size: 1.6rem;
}

.dialog-box-edit-open-btn {
    width: 100%;
    padding-block: 0.8rem;
    color: var(--clr-1);
    background-color: var(--clr-7);
    font-size: 1.6rem;
    font-weight: 600;
    border: 2px solid var(--clr-7);
    border-radius: 0.4rem;
    cursor: pointer;
}

.card .dialog-box-edit-open-btn:hover {
    background-color: var(--clr-7-hover);
    border: 2px solid var(--clr-7-hover);
}

.card .dialog-box-edit-open-btn:active {
    color: var(--clr-7);
    background-color: var(--clr-1);
    border: 2px solid var(--clr-7);
}

/* dialog box */

.dialog {
    width: 30rem;
    background-color: var(--clr-8);
    border: none;
    border-radius: 0.4rem;
    position: absolute;
    top: 25%;
    bottom: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.dialog-box-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    background: linear-gradient(to right, var(--clr-5) 20%, var(--clr-6) 80%);
}

.dialog-box-heading-text {
    color: var(--clr-1);
    font-size: 2.4rem;
}

.dialog-box-close-btn {
    color: var(--clr-1);
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.dialog-box-close-btn:hover {
    color: var(--clr-2);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.form-label {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
}

.form-input,
.form-select {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: 1px solid grey;
    border-radius: 0.4rem;
}

.form-input:focus {
    border-color: var(--clr-7);
}

.form .form-submit-btn {
    width: 100%;
    padding: 0.8rem 1.4rem;
    color: var(--clr-1);
    background-color: var(--clr-7);
    font-size: 1.6rem;
    font-weight: 600;
    border: 2px solid var(--clr-7);
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.form .form-submit-btn:hover {
    background-color: var(--clr-7-hover);
    border: 2px solid var(--clr-7-hover);
}

.form .form-submit-btn:active {
    color: var(--clr-7);
    background-color: var(--clr-1);
    border: 2px solid var(--clr-7);
}
